In [1]:
import pandas as pd
import numpy as np

student = pd.read_csv('student-data.csv')

In [2]:
student.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [3]:
student.shape

(395, 31)

In [4]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
passed        395 non-null object
dtypes: int64(13), object(18)
memory usage: 95.7+ KB

In [5]:
total = student.shape[0]
passed = len(student.query('passed == "yes"'))/total
failed = len(student.query('passed == "no"'))/total
print(passed)
print(failed)

0.6708860759493671
0.3291139240506329

In [6]:
len(student.columns)

31

In [7]:
columns = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'passed' ]

student_copy = student.copy()

for col in columns:
    student_copy[col] = student_copy[col].map({'yes':1, 'no':0})

In [8]:
student_copy.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,0,0,4,3,4,1,1,3,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,0,5,3,3,1,1,3,4,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,1,0,4,3,2,2,3,3,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,1,1,3,2,2,1,1,5,2,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,0,0,4,3,2,1,2,5,4,1

In [9]:
student_final = pd.get_dummies(student_copy)

In [10]:
student_final.head()

,age,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,18,4,4,2,2,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
1,17,1,1,1,2,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
2,15,1,1,1,2,3,1,0,1,0,...,1,0,0,0,0,1,0,0,1,0
3,15,4,2,1,3,0,0,1,1,1,...,0,1,0,0,1,0,0,0,1,0
4,16,3,3,1,2,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0

In [11]:
student_final.columns

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher',
       'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc',
       'health', 'absences', 'passed', 'school_GP', 'school_MS', 'sex_F',
       'sex_M', 'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3',
       'Pstatus_A', 'Pstatus_T', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other'],
      dtype='object')

In [12]:
X = np.array(student_final.drop('passed', axis=1))
y = student_final['passed']
X.shape,y.shape

((395, 48), (395,))

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.24, random_state = 10)

In [14]:
X_train.shape, y_train.shape

((300, 48), (300,))

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\cheru\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

### Naive Bayes

In [18]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
from time import time

clf1 = GaussianNB()
start = time()
clf1.fit(X_train,y_train)
end = time()

print('Training time for Gaussian Naive Bayes algorithm is {}'.format(end - start))

start = time()
y_pred = clf1.predict(X_test)
end = time()

print('Testing time for Gaussian Naive Bayes algorithm is {}'.format(end - start))

print('Classification Report for Gaussian Naive Bayes algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Gaussian Naive Bayes algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Gaussian Naive Bayes algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Gaussian Naive Bayes algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for Gaussian Naive Bayes algorithm is 0.0009644031524658203
Testing time for Gaussian Naive Bayes algorithm is 0.0
Classification Report for Gaussian Naive Bayes algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.48      0.41      0.44        29
          1       0.76      0.80      0.78        66

avg / total       0.67      0.68      0.68        95

Accuracy score for Gaussian Naive Bayes algorithm on the testing set is 0.6842105263157895
F1 score for Gaussian Naive Bayes algorithm on the testing set is 0.7794117647058824
ROC AUC score for Gaussian Naive Bayes algorithm on the testing set is 0.6084117032392895

### Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression

clf2 = LogisticRegression()

start = time()
clf2.fit(X_train,y_train)
end = time()

print('Training time for Logistic Regression algorithm is {}'.format(end - start))

start = time()
y_pred = clf2.predict(X_test)
end = time()

print('Testing time for Logistic Regression algorithm is {}'.format(end - start))

print('Classification Report for Logistic Regression algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Logistic Regression algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Logistic Regression algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Logistic Regression algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for Logistic Regression algorithm is 0.002029895782470703
Testing time for Logistic Regression algorithm is 0.0
Classification Report for Logistic Regression algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.55      0.38      0.45        29
          1       0.76      0.86      0.81        66

avg / total       0.70      0.72      0.70        95

Accuracy score for Logistic Regression algorithm on the testing set is 0.7157894736842105
F1 score for Logistic Regression algorithm on the testing set is 0.8085106382978724
ROC AUC score for Logistic Regression algorithm on the testing set is 0.6214733542319749

### Support Vector Machine

In [24]:
from sklearn.svm import SVC

clf3 = SVC()

start = time()
clf3.fit(X_train,y_train)
end = time()

print('Training time for Support Vector Machine algorithm is {}'.format(end - start))

start = time()
y_pred = clf3.predict(X_test)
end = time()

print('Testing time for Support Vector Machine algorithm is {}'.format(end - start))

print('Classification Report for Support Vector Machine algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Support Vector Machine algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Support Vector Machine algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Support Vector Machine algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for Support Vector Machine algorithm is 0.008879423141479492
Testing time for Support Vector Machine algorithm is 0.001994609832763672
Classification Report for Support Vector Machine algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.50      0.14      0.22        29
          1       0.71      0.94      0.81        66

avg / total       0.65      0.69      0.63        95

Accuracy score for Support Vector Machine algorithm on the testing set is 0.6947368421052632
F1 score for Support Vector Machine algorithm on the testing set is 0.8104575163398693
ROC AUC score for Support Vector Machine algorithm on the testing set is 0.5386624869383491

### K Nearest Neighbors

In [25]:
from sklearn.neighbors import KNeighborsClassifier

clf6 = KNeighborsClassifier()

start = time()
clf6.fit(X_train,y_train)
end = time()

print('Training time for K Nearest Neighbors algorithm is {}'.format(end - start))

start = time()
y_pred = clf6.predict(X_test)
end = time()

print('Testing time for K Nearest Neighbors algorithm is {}'.format(end - start))

print('Classification Report for K Nearest Neighbors algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for K Nearest Neighbors algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for K Nearest Neighbors algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for K Nearest Neighbors algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for K Nearest Neighbors algorithm is 0.0040187835693359375
Testing time for K Nearest Neighbors algorithm is 0.003998279571533203
Classification Report for K Nearest Neighbors algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.38      0.21      0.27        29
          1       0.71      0.85      0.77        66

avg / total       0.61      0.65      0.62        95

Accuracy score for K Nearest Neighbors algorithm on the testing set is 0.6526315789473685
F1 score for K Nearest Neighbors algorithm on the testing set is 0.7724137931034484
ROC AUC score for K Nearest Neighbors algorithm on the testing set is 0.5276907001044933

### Decision Trees

In [22]:
from sklearn.tree import DecisionTreeClassifier

clf4 = DecisionTreeClassifier()

start = time()
clf4.fit(X_train,y_train)
end = time()

print('Training time for Decision Tree algorithm is {}'.format(end - start))

start = time()
y_pred = clf4.predict(X_test)
end = time()

print('Testing time for Decision Tree algorithm is {}'.format(end - start))

print('Classification Report for Decision Tree algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Decision Tree algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Decision Tree algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Decision Tree algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for Decision Tree algorithm is 0.002992391586303711
Testing time for Decision Tree algorithm is 0.0
Classification Report for Decision Tree algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.34      0.38      0.36        29
          1       0.71      0.68      0.70        66

avg / total       0.60      0.59      0.59        95

Accuracy score for Decision Tree algorithm on the testing set is 0.5894736842105263
F1 score for Decision Tree algorithm on the testing set is 0.6976744186046512
ROC AUC score for Decision Tree algorithm on the testing set is 0.530564263322884

### Random Forest Classifier

In [23]:
from sklearn.ensemble import RandomForestClassifier

clf5 = RandomForestClassifier()

start = time()
clf5.fit(X_train,y_train)
end = time()

print('Training time for Random Forest algorithm is {}'.format(end - start))

start = time()
y_pred = clf5.predict(X_test)
end = time()

print('Testing time for Random Forest algorithm is {}'.format(end - start))

print('Classification Report for Random Forest algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Random Forest algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Random Forest algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Random Forest algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Training time for Random Forest algorithm is 0.01701807975769043
Testing time for Random Forest algorithm is 0.0019762516021728516
Classification Report for Random Forest algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.43      0.34      0.38        29
          1       0.74      0.80      0.77        66

avg / total       0.64      0.66      0.65        95

Accuracy score for Random Forest algorithm on the testing set is 0.6631578947368421
F1 score for Random Forest algorithm on the testing set is 0.7681159420289856
ROC AUC score for Random Forest algorithm on the testing set is 0.5739289446185998

### Model Selection

In [30]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

log_reg = LogisticRegression()

param_grid = { 'C' : [0.001, 0.01, 0.1, 1, 10] }

ssscv = StratifiedShuffleSplit(n_splits = 10, test_size = 0.1, random_state = 42)

f1_scorer = make_scorer(f1_score)

grid = GridSearchCV(log_reg, param_grid, cv = ssscv, scoring = f1_scorer)

grid.fit(X_train, y_train)

GridSearchCV(cv=StratifiedShuffleSplit(n_splits=10, random_state=42, test_size=0.1,
            train_size=None),
       error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [0.001, 0.01, 0.1, 1, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=make_scorer(f1_score), verbose=0)

In [31]:
grid.best_score_

0.8062402539601731

In [32]:
grid.best_params_

{'C': 0.1}

In [33]:
grid.best_estimator_

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
grid.grid_scores_

C:\Users\cheru\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.76792, std: 0.03621, params: {'C': 0.001},
 mean: 0.79227, std: 0.02737, params: {'C': 0.01},
 mean: 0.80624, std: 0.03149, params: {'C': 0.1},
 mean: 0.78998, std: 0.03642, params: {'C': 1},
 mean: 0.79000, std: 0.03770, params: {'C': 10}]

In [34]:
y_pred = grid.predict(X_test)

print('Classification Report for Optimized Logistic Regression Algorithm on the testing set is \n {}'.format(classification_report(y_test,y_pred)))

print('Accuracy score for Optimized Logistic Regression Algorithm on the testing set is {}'.format(accuracy_score(y_test,y_pred)))

print('F1 score for Optimized Logistic Regression Algorithm on the testing set is {}'.format(f1_score(y_test,y_pred)))

print('ROC AUC score for Optimized Logistic Regression Algorithm on the testing set is {}'.format(roc_auc_score(y_test,y_pred)))

Classification Report for Optimized Logistic Regression Algorithm on the testing set is
              precision    recall  f1-score   support

          0       0.60      0.41      0.49        29
          1       0.77      0.88      0.82        66

avg / total       0.72      0.74      0.72        95

Accuracy score for Optimized Logistic Regression Algorithm on the testing set is 0.7368421052631579
F1 score for Optimized Logistic Regression Algorithm on the testing set is 0.8226950354609929
ROC AUC score for Optimized Logistic Regression Algorithm on the testing set is 0.6462904911180773